<style>
    h1{
        color:red;
        text-align:center;
    }
    p{
        color:red;
        text-align:center;
    }
</style>


<h1> Hey What's up </h1>
<p>This is your rails server speaking and I hope you are learning a lot</p>